@keyframes ldio-8ilewb36r9s {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-8ilewb36r9s .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
 
  }
.ldio-8ilewb36r9s > div {
  transform-origin: 100px 100px;
  animation: ldio-8ilewb36r9s 0.2s infinite linear;
}
.ldio-8ilewb36r9s > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background:#563d7c;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-8ilewb36r9s > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-8ilewb36r9s > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
}.ldio-8ilewb36r9s > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-8ilewb36r9s > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-8ilewb36r9s > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-jl7wobid7u8 {
  z-index: 10000; 
  display: inline-block;
  overflow: hidden;
}
.ldio-8ilewb36r9s {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75 !important;
    filter: Alpha(Opacity=75) !important;
    background: #ffffff !important;
    z-index: 1000;
}
.ldio-8ilewb36r9s div { 
  box-sizing: content-box; 
}

