<div *ngIf="shouldSpin" class="loadingio-spinner-gear-jl7wobid7u8">
        <div class="ldio-8ilewb36r9s">
            <div class="loader">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>
    </div>
</div> 



<!-- <div>
    <div id="overlay-page" class="">
        <div class="widget-overlay"></div>
      <div  class="loader"></div>
    </div>
  </div> -->