<!-- <div *ngIf="onlyOdd">
  <li
    class="list-group-item 1"
    
    *ngFor="let odd of oddNumbers"
    [ngClass]="{odd: odd % 2 !== 0}"
    [appBetterHighlight]="'red'" defaultColor="yellow"
    [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">
    {{ odd }}
  </li>
</div>
<div *appUnless="onlyOdd">
  <li [appBetterHighlight]="colorObject" 
    class="list-group-item 2"
    [ngClass]="{odd: even % 2 !== 0}"
    [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
    *ngFor="let even of evenNumbers">
    {{ even }}
  </li>
</div> -->

<div class="backdrop" (click)="onClose()">
  <div class="alert-box">
      <p>{{message}}</p>
       <div class="alert-box-actions">
         <button class="btn btn-primary" (click)="onClose()">Ok</button>
       </div> 
  </div>
</div>