.odd {
    color: red;
  }
  
  .backdrop{
    position:fixed;
    width: 100vw;
    left: 0;
    top:0;
    height:100vh;
    background:rgba(0,0,0,0.75);
    z-index: 200000;
  }
  .alert-box{
    position:fixed;
    width: 30vw;
    left: 40vw;
    top:40vh;
    padding:16px;
    background:white;
    z-index: 189950;
    border-color: aqua;

  }