<div class="">
  <div class="">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm" autocomplete="off">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="name"
          ngModel
          required
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="number">Amount:</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          placeholder="How much"
          ngModel
          required
          #amount="ngModel"
          [pattern]="'^[1-9]+[0-9]*$'"
          name="amount"
        />
        <small class="invalid-feedback" *ngIf="!amount.valid&&amount.touched"><i>Not a valid number</i></small>
      </div>
      <div class="form-group">
        <label for="unit">Unit:</label>
        <input
          type="text"
          id="unit"
          class="form-control"
          placeholder="Unit"
          ngModel
          required
          name="unit"
        />
      </div>

      <div class="">
        <div class="row ml-2">
          <button class="btn btn-primary" [disabled]="!f.valid" >{{mode ? 'Update':'Add'}}</button>
          <button class="btn btn-danger ml-2" type="button" *ngIf="mode" (click)="onDelete()">
            Delete
          </button>
          <button class="btn btn-warning ml-2" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
